* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.header-container {
    background-color: #6200ea; 
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.header-title {
    font-size: 2rem;
}

.user-status-container {
    display: flex;
    align-items: center;
}

.user-status-text {
    margin-right: 10px;
}





.home-main {
    display: flex;
    height: calc(100vh - 60px); 
    flex-direction: row;
}

.nav-container {
    background-color: #e1e2dd;
    width: 350px; 
    padding: 15px;
    border-right: 1px solid #ccc; 
}

.nav-list {
    list-style: none; 
}

.nav-item {
    margin: 10px 0;
}



.nav-link:hover {
    color: #2d4373; 
}

.unread {
    background-color: #ff6b6b; 
    color: white;
    border-radius: 12px;
    padding: 2px 6px;
    margin-left: 5px;
}

.chat-container {
    flex: 1; 
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #ffffff;
    max-width: 500px;
    margin: 0 auto;
    
}

.chat-header {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.chat-history {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto; 
    margin-bottom: 15px;
    border: rgb(184, 183, 183) 1px solid;
    border-radius: 10px;

}

.chat-message-right {
    background-color: #e0f7fa; 
    padding: 10px;
    border-radius: 8px;
    margin: 5px 0;
    align-self: flex-end; 
}

.chat-input {
    width: calc(100% - 100px); 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.send-button {
    padding: 10px 15px;
    background-color: #6200ea; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.send-button:hover {
    background-color: #3b1373; 
}

.logut-button {
    background-color: #22bd68;
    color: #ffffff; 
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px;
}

.Delete-btn {
    background-color: #f83159;
    color: #ffffff; 
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}





.chat-message{
    position: relative;
    padding: 5px;
    margin: 20px;
    background-color: #4ad8ca;
    border-radius: 10px;
    width: 400px; 
    height: auto; 
    font-size: 15px;
    display: flex;
    flex-direction: column;
}

.chat-message:after {
    content: '';
    position: absolute;
    bottom: -20px;
    right: 5%;
    transform: translateX(-50%);
    border-width: 10px;
    border-style: solid;
    border-color: #4ad8ca transparent transparent transparent;
}



.time{
    font-size: 10px;
    color: #000;
    margin-top: 5px;
    text-align: right;
}
.text{
    
    color: #000;
    margin-top: 5px;
    text-align: left;
    font-weight: 700;
    font-size: 18px;
}

.private-icon {
    margin-left: 5px; 
    color: #f83159;
    font-size: 15px;
}

.open-private-icon {
    color: #28a745;
    margin-left: 5px; 
    font-size: 15px;
}


.DM-btn, .channel-btn{
    
    color: #20345d;
    border: none;
    font-weight: 700;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.DM-btn:hover, .channel-btn:hover{
    background-color: #adddc2; 
    
}

.create-channel {
    display: flex; 
    align-items: center;
}

.create-channel input {
    padding: 8px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    flex-grow: 1;
    margin:  0 10px;
}

.create-channel button {
    padding: 8px 10px;
    background-color: #6200ea; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.create-channel button:hover {
    background-color: #3b1373; 
}


.disabled {
    background-color: #ccc; 
    color: #666; 
    cursor: not-allowed; 
    pointer-events: none; 
}

input[type="checkbox"] {
    display: none; 
}

.lock-checkbox:hover {
    cursor: pointer; 
    scale: 1.1;
   
}
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.popup {
    background: white;
    color: black;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;

    button {
        padding: 10px 20px;
        background-color: #4b4b4b;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin: 10px;
    }
}

.error-message {
    color: red;
    margin: 10px;
    padding: 10px;
    border: 1px solid red;
    border-radius: 5px;
    background-color: #ffe6e6;
}
