body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #efefef; 
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-form h2 {
    margin-bottom: 20px;
    color: #6200ea;
    text-align: center;
}

.login-form input {
    margin-bottom: 20px;
    padding: 12px;
    width: 100%;
    max-width: 300px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 0.9rem;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.login-form input:focus {
    border-color: #cbc2d7;
    outline: none;
}

.logg-in-btn {
    padding: 12px;
    width: 100%;
    max-width: 300px;
    background-color: #6200ea;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-size: 1rem;
}

.guest-btn, .signup-btn{
    padding: 10px 20px;
    width: 150px; ;
    background-color: #f4f4f9;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.403);
    color: #6200ea;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-size: 1rem;
    margin: 5px
}
.guest-btn:hover, .signup-btn:hover {
    
    transform: translateY(-2px);
}


.logg-in-btn:hover {
    background-color: #3700b3;
    transform: translateY(-2px);
}


.login-form .message {
    margin-top: 15px;
    text-align: center;
}

.login-form .message.success {
    color: green;
}

.login-form .message.error {
    color: red;
}

.loading-message {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: #6200ea;
}